<div class="main-container">
  <div class="header-container">
    <h1>Expense Calculator</h1>
  </div>
  <div class="budget-display-container"></div>
  <div class="input-form-container">
    <app-ec-form (ecSubmit)="onEcSubmit($event)"></app-ec-form>
  </div>
  <div class="lists-container">
    <div class="income-container">
      <app-ec-entry-item-list type="income"></app-ec-entry-item-list>
    </div>
    <div class="expenses-container">
      <app-ec-entry-item-list type="expense"></app-ec-entry-item-list>
    </div>
  </div>
</div>
